mixin page(title)
  +b.HTML.page(lang='ru')&attributes(attributes)
    head
      title #{title} - #{pkg.description}
      // Meta
      meta(charset='utf-8')
      //-meta(name='viewport' content='width=1280')
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')
      meta(name='description' content='')
      meta(name='keywords' content='')
      meta(name='author' content='')
      // Favicon
      //-link(rel='icon' type='image/x-icon' href='/favicon.ico')
      include ../lib/favicon
      // CSS
      link(rel='stylesheet' href=`css/lib${development ? '' : '.min'}.css`)
      link(rel='stylesheet' href=`css/app${development ? '' : '.min'}.css`)
      // JS
      script(src=`js/lib${development ? '' : '.min'}.js`)
      script
        include ../../vendors/svg-symbols/svg-symbols.js
    +e.BODY.__body
      +e.__body-inner
        block
      // JS
      script(src=`js/app${development ? '' : '.min'}.js` async='')