include lib/variables
include lib/mixins
include blocks/page
include blocks/header
include blocks/footer
include blocks/map

block lang
  - let lang = 'ru', title;

if lang === 'ru'
  - title = pagesList.index.title;
else
  - title = pagesList.indexEn.title;

+page(title)(lang=lang)
  +header.--transparent.__header
  +e.__content
    +b.SECTION.section-intro
      .container-fluid.max-w-md.max-w-lg
        +e.H1.__title
          small.wow.fadeInRight(data-wow-duration='0.5s')
            block section-intro__title-small
              | CRYPTO Pi –
          span.d-block.wow.fadeInRight
            block section-intro__title
              | Криптовалютый холдинг
    +b.SECTION.px-1.mt-8-inv.mb-3.mb-md-4
      .container-fluid.max-w-md.max-w-lg
        .row.justify-content-center
          .col-12.col-lg-10
            +b.BLOCKQUOTE.intro-letter.m-0.wow.fadeIn
              +e.IMG.__img(src='img/content/kevin.png' alt='Кевин Р. Смит')
              +e.__body
                +e.__content
                  block intro-letter__content
                    p С радостью делюсь новостью: наш объединенный голландско-сингапурский криптовалютный холдинг открыл представительство в России и готов предоставить в распоряжение клиентов новейшие технологии финтеха.
                +e.__footer
                  .row.align-items-end
                    .col-6
                      +e.CITE.__cite
                        block intro-letter__cite
                          | Кевин Р.&nbsp;Смит
                      +e.__position
                        block intro-letter__position
                          | Chief Executive Officer
                    .col-6.text-center
                      +e.IMG.__sign(src='img/content/sign.png' alt='Кевин Р. Смит')
    +b.SECTION.section-about
      .container-fluid.max-w-md.max-w-lg
        .row.mb-3-inv.mb-md-4-inv
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInLeft
            +e.HEADER.__header
              +e.H2.__title CRYPTO Pi —
              .d-flex.align-items-start
                +icon-svg('sequre').__icon.d-none.d-sm-block
                +e.__desc
                  block section-about__desc
                    p.
                      международный специализированный
                      криптовалютный центр, созданный
                      крупными мировыми инвесторами.
            +e.__content
              block section-about__content
                p.
                  Клиенты и партнеры центра получают доступ к экспертным знаниям и
                  опыту в области криптовалют и могут пользоваться передовыми
                  финансово-техническими сервисами, легко адаптируемыми под любые задачи и требования.
            +e.FOOTER.__footer
              block section-about__footer
                p.
                  Уникальность предложения CRYPTO Pi заключается
                  в соединении современной технологии блокчейн и классических
                  финансовых институтов.
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInRight
            +b.user-log-in.h-100
              .row.m-1-inv.justify-content-center
                .col-auto.mw-100.p-1
                  +b.A.btn-primary.__btn(href='')= lang === 'ru' ? 'Регистрация' : 'Sign Up'
                .col-auto.mw-100.p-1
                  +b.A.btn-secondary.__btn(href='')= lang === 'ru' ? 'Авторизация' : 'Sign In'
              +e.__content
                if lang === 'ru'
                  p.
                    У вас уже есть аккаунт? Зарегистрируйтесь или авторизуйтесь
                    в личном кабинете сегодня!
                else
                  p Do you already have an account? Register or log in to your account today!
    +b.SECTION.section--service
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3
            block section--service__title
              | Основные направления деятельности холдинга:
      .container-fluid.max-w-md.max-w-lg
        .row.justify-content-center.mb-3-inv.mb-md-4-inv
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title.text-uppercase Fund
              +e.__content
                block service__content-0
                  p.
                    CRYPTO Pi Fund – это альтернативный инвестиционный фонд, реализующий свои торговые стратегии на новом быстроразвивающемся рынке цифровых валют и ICO.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.2s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title.text-uppercase Mining
              +e.__content
                block service__content-1
                  p.
                    Готовые комплексные решения
                    по покупке и установке доказавшего свою эффективность майнингового оборудования в принадлежащих
                    нам дата-центрах.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.4s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title.text-uppercase ICO & ICO fund
              +e.__content
                block service__content-2
                  p.
                    Помощь в технических,
                    финансовых и юридических
                    вопросах при первичном размещении токенов, а также совместное проведение CO на базе «Фонда Крипто Пи».
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.6s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title.text-uppercase Sales & legal framework
              +e.__content
                block service__content-3
                  p.
                    Организация продаж токенов и создание субфондов в партнерстве с рофессиональными участниками рынка цифровых активов.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.8s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title.text-uppercase Consulting
              +e.__content
                block service__content-4
                  p.
                    Консультации ведущих специалистов
                    по вопросам правового регулирования, финансового взаимодействия, технических аспектов и маркетинговых технологий в финтехе.
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3 CRYPTO Pi
      .container-fluid.max-w-md.max-w-lg.mb-3.mb-md-4
        .row.justify-content-center
          .col-12.col-lg-10
            +b.chart
              +e.NO-FORMATTED-HTML.__grid
                block chart__grid
                  include ../../dist/img/content/График доходности black_grid.svg
              +e.NO-FORMATTED-HTML.__lines.wow(data-wow-duration='2.5s')
                block chart__lines
                  include ../../dist/img/content/График доходности black_lines.svg
        .formatted-content.mt-2
          if lang === 'ru'
            p ...
          else
            p Performance of the Crypto Pi Index from 1st January 2018 (expressed in € and BTC).
      .container-fluid.max-w-md.max-w-lg.mb-3.mb-md-4
        .row.mb-3-inv.mb-md-4-inv
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInLeft
            +b.SECTION.section-sm
              +e.HEADER.__header
                +e.H3.__title
                  block section-sm__title
                    | Фонд занимается инвестированием в криптовалюты.
              +e.__content
                block section-sm__content
                  p.
                    В управляющей команде Фонда состоят специалисты с многолетним опытом работы на фондовых и валютных биржах, что обеспечивает CRYPTO Pi Fund весомое преимущество перед другими организациями на этом сложном и крайне волатильном рынке.
                  p.
                    Фонд проводит сбалансированную политику риск-менеджмента с приоритетным фокусом на сохранении вложенных инвесторами средств.
              +e.FOOTER.__footer
                block section-sm__footer
                  p.
                    Для достижения наилучших инвестиционных результатов мы используем четыре торговые стратегии. В основе каждой из них лежит принцип минимизации рисков и сохранения инвестиционного капитала.
          .col-12.mb-3.col-md-6.mb-md-4.wow.fadeInRight
            +b.ARTICLE.invest-go.h-100
              +e.H3.__title
                block invest-go__title-0
                  | Стоимость пая CRYPTO Pi Fund составляет 100 Евро.
              +b.A.btn-primary(href='').__btn= lang === 'ru' ? 'Инвестировать сейчас' : 'Invest now'
              +e.__content
                block invest-go__content-0
                  p.
                    У нас нет ограничений по количеству паев – <br>
                    стать нашим клиентом может каждый!
      +b.SECTION.section-sm
        +e.HEADER.__header
          .container-fluid.max-w-md.max-w-lg
            .row
              .col-12.col-md-8
                +e.H3.__title
                  block section-sm__title-1
                    | Фонд предоставляет своим клиентам возможность приобретать паи трех видов инвестиционных портфелей:
        .container
          .row.mb-2-inv.justify-content-center
            .col-12.mb-2.col-sm-6.col-md-4
              +b.FIGURE.invest-item.h-100.wow.flipInX
                +e.__img
                  +icon-svg('sand-watch').__img-svg
                +e.FIGCAPTION.__body
                  +e.__title
                    block invest-item__title-0
                      | Краткосрочный
                  +e.__desc
                    block invest-item__desc-0
                      | 3 месяца
                  +e.__value
                    +e.SPAN.__value-text-0 7
                    +e.SPAN.__value-text-0 0
                    +e.SPAN.__value-text-1 %
            .col-12.mb-2.col-sm-6.col-md-4
              +b.FIGURE.invest-item.h-100.wow.flipInX(data-wow-delay='0.2s')
                +e.__img
                  +icon-svg('watch').__img-svg
                +e.FIGCAPTION.__body
                  +e.__title
                    block invest-item__title-1
                      | Среднесрочный
                  +e.__desc
                    block invest-item__desc-1
                      | 6 месяцев
                  +e.__value
                    +e.SPAN.__value-text-0 8
                    +e.SPAN.__value-text-0 5
                    +e.SPAN.__value-text-1 %
            .col-12.mb-2.col-sm-6.col-md-4
              +b.FIGURE.invest-item.h-100.wow.flipInX(data-wow-delay='0.4s')
                +e.__img
                  +icon-svg('calendar').__img-svg
                +e.FIGCAPTION.__body
                  +e.__title
                    block invest-item__title-2
                      | Долгосрочный
                  +e.__desc
                    block invest-item__desc-2
                      | 12 месяцев
                  +e.__value
                    +e.SPAN.__value-text-0--one 1
                    +e.SPAN.__value-text-0 0
                    +e.SPAN.__value-text-0 0
                    +e.SPAN.__value-text-1 %
        .container-fluid.max-w-md.max-w-lg.mt-3.mt-md-4
          .formatted-content
            if lang === 'ru'
              p ...
            else
              p Crypto PI reserves the right to change the ratio of trading strategies.
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3= lang === 'ru' ? 'Краткий обзор рынка криптовалют, инвестиционный портфель CRYPTO Pi' : 'Сryptocurrency market overview and investvent portfolio CRYPTO Pi'
      +b.SECTION.section-chart.mb-3.mb-md-4
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Global cryptocurrency market
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    block section-chart__content-0
                      p.
                        Долгосрочные вложения, как правило, составляют 45% от общей стоимости портфеля.
                      p
                        strong Инвестиции делаются в топ-10 криптовалют в соответствии с рейтингом их капитализации.
                      p.
                        Длительные инвестиции в ведущие криптовалюты с большой рыночной капитализацией и ликвидностью нивелируют
                        риски резких колебаний стоимости, а защищенные холодные кошельки делают
                        долгосрочное хранение безопасным.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-0.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0 4
                        +e.SPAN.__value-text-0 5
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2
                          block section-chart__value-text-2-0
                            | общей стоимости портфеля
                    .col-6.col-sm-4.col-lg-12
                      +e.__label
                        block section-chart__label-0
                          | - долгосрочные вложения
            .col-12.px-0.col-md-6.px-md-1
              +e.__chart--0.wow.slideInRight
                +e.NO-FORMATTED-HTML.__chart-img
                  block section-chart__chart-img-0
                    include ../../dist/img/content/Долгосрочные стратегии light.svg
      +b.SECTION.section-chart.mb-3.mb-md-4
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0.order-md-1
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Hard fork & new currency
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    block section-chart__content-1
                      p.
                        Среднесрочные инвестиции обычно составляют 30% от общей стоимости портфеля.
                      p.
                        <strong>Это инвестиции в валюты, сформировавшиеся в результате хардфорка высокорейтинговых валют</strong>, а также в новые валюты, капитализация которых превысила 1 млрд долларов США, с последующей корректировкой позиций валют в зависимости от их относительной волатильности и ликвидности в любой момент времени.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-1.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0 3
                        +e.SPAN.__value-text-0 0
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2
                          block section-chart__value-text-2-1
                            | общей стоимости портфеля
                    .col-6.col-sm-4.col-lg-12
                      +e.__label
                        block section-chart__label-1
                          | - среднесрочные вложения
            .col-12.px-0.col-md-6.px-md-1
              +e.__chart--1.--left.wow.slideInLeft
                +e.NO-FORMATTED-HTML.__chart-img
                  block section-chart__chart-img-1
                    include ../../dist/img/content/Среднесрочные стратегии light.svg
      +b.SECTION.section-chart.mb-3.mb-md-4
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Ico leverage
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    if lang === 'ru'
                      p.
                        Под краткосрочные инвестиции отводится до 15% от общей стоимости портфеля.
                      p.
                        <strong>Такие инвестиции осуществляются в только что созданные валюты и ICO на основе анализа инвестиционной привлекательности лежащих в их основе проектов</strong>, и предназначены для продажи сразу после периода первоначального роста.
                      p.
                        Такие валюты мы рекомендуем только после их подробного анализа, который включает в себя изучение бизнес-плана, конкурентоспособности продукта, управляющей команды, маркетинговой стратегии и всех остальных факторов, влияющих на успех.
                      p.
                        Наш опыт вложений в ICO, помимо высокой доходности, позволяет нам поддерживать тесные контакты с лучшими специалистами по проведению ICO и делать лучший выбор при инвестировании.
                    else
                      p Short-term investments account for up to 15% of the total portfolio value.
                      p <strong>Such investments are made in newly created currencies and ICOs on the basis of an analysis of the investment attractiveness of the underlying projects</strong>, and are intended for sale immediately after the period of initial growth.
                      p We recommend such currencies only after their detailed analysis, which includes the study of the business plan, product competitiveness, management team, marketing strategy and all other factors affecting success.
                      p Our experience in investing in ICOs, in addition to high profitability, allows us to maintain close contacts with the best ICO experts and make the best choice when investing.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-2.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0 1
                        +e.SPAN.__value-text-0 5
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2
                          if lang === 'ru'
                            | общей стоимости портфеля
                          else
                            | of the total portfolio value
                    .col-6.col-sm-4.col-lg-12
                      +e.__label
                        if lang === 'ru'
                          | - краткосрочные вложения
                        else
                          | - short-term investments
            .col-12.px-0.col-md-6.px-md-1
              +e.__chart--2.wow.slideInRight
                +e.NO-FORMATTED-HTML.__chart-img
                  block section-chart__chart-img
                    if lang === 'ru'
                      include ../../dist/img/content/Краткосрочные стратегии light.svg
                    else
                      include ../../dist/img/content/Краткосрочные стратегии light-en.svg
      +b.SECTION.section-chart
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.mb-2.col-md-6.mb-md-0.order-md-1
              +e.HEADER.__header
                .row
                  .col-12.col-lg-8
                    +e.H3.__title.m-0 Mining
              .row
                .col-12.mb-2.col-lg-8.mb-lg-0
                  +e.__content
                    if lang === 'ru'
                      p.
                        Около 10% от общей стоимости портфеля выделяется на <strong>инвестирование в традиционный и облачный майнинг</strong>, а также на модернизацию майнингового оборудования и на внедрение
                        в проекты по созданию AI устройств.
                      p.
                        Вложения в майнинг преследуют не только прямые инвестиционные цели, но и позволяют постоянно актуализировать представления о новых цифровых валютах и технологии блокчейн.
                    else
                      p About 10% of the total portfolio value is allocated for <strong>investing in traditional and cloud mining</strong>, as well as for upgrading of mining equipment and for implementation in projects for the creation of AI devices.
                      p Investments in mining pursue not only direct investment goals, but also allow you to constantly update the notion of new digital currencies and blockchain technology.
                .col-12.text-center.col-lg-4.text-lg-right
                  .row.align-items-center.flex-lg-column.align-items-lg-stretch
                    .d-none.col-sm-4.d-sm-block.col-lg-12.mb-lg-2
                      +e.IMG.__img(src='img/content/case-3.svg' alt='')
                    .col-6.col-sm-4.col-lg-12.mb-lg-2
                      +e.__value
                        +e.SPAN.__value-text-0--one 1
                        +e.SPAN.__value-text-0 0
                        +e.SPAN.__value-text-1 %
                        +e.__value-text-2
                          if lang === 'ru'
                            | общей стоимости портфеля
                          else
                            | of the total portfolio value
                    .col-6.col-sm-4.col-lg-12
                      +e.__label
                        if lang === 'ru'
                          | - инвестирование в майнинг
                        else
                          | - investments in mining
            .col-12.px-0.col-md-6.px-md-1
              +e.__chart--3.--left.wow.slideInLeft
                +e.NO-FORMATTED-HTML.__chart-img
                  block section-chart__chart-img
                    if lang === 'ru'
                      include ../../dist/img/content/Прибыльность майнинга light.svg
                    else
                      include ../../dist/img/content/Прибыльность майнинга light-en.svg
    +b.SECTION.section--analytics
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3= lang === 'ru' ? 'Аналитика' : 'Analytics'
      .container
        +b.carousel
          +e.__inner.row
            .col-auto
              +b.ARTICLE.write.h-100
                +e.A.__inner(href='')
                  +e.DIV.__img
                    +e.IMG.__img-inner(src='img/content/pic-0.jpg' alt='')
                  +e.DIV.__body
                    +e.HEADER.__header
                      +e.TIME.__datetime(datetime='ГГГГ-ММ-ДДTчч:мм:сс')
                        span 25
                        span jul
                      +e.H3.__title Лишь элементы политического процесса неоднозначны и будут своевременно верифицированы
                    +e.__content
                      p Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей и по сей день остаются уделом либералов, которые жаждут быть объединены в целые кластеры себе подобных
                    +e.FOOTER.__footer
                      +e.SPAN.__read-more Читать далее >
            .col-auto
              +b.ARTICLE.write.h-100
                +e.A.__inner(href='')
                  +e.DIV.__img
                    +e.IMG.__img-inner(src='img/content/pic-1.jpg' alt='')
                  +e.DIV.__body
                    +e.HEADER.__header
                      +e.TIME.__datetime(datetime='ГГГГ-ММ-ДДTчч:мм:сс')
                        span 23
                        span jul
                      +e.H3.__title Также как укрепление
                    +e.__content
                      p Учитывая ключевые сценарии поведения, синтетическое тестирование не оставляет шанса для модели развития
                    +e.FOOTER.__footer
                      +e.SPAN.__read-more Читать далее >
            .col-auto
              +b.ARTICLE.write.h-100
                +e.A.__inner(href='')
                  +e.DIV.__img
                    +e.IMG.__img-inner(src='img/content/pic-2.jpg' alt='')
                  +e.DIV.__body
                    +e.HEADER.__header
                      +e.TIME.__datetime(datetime='ГГГГ-ММ-ДДTчч:мм:сс')
                        span 21
                        span jul
                      +e.H3.__title Но разбавленное изрядной долей эмпатии, рациональное мышление создает предпосылки для инновационных методов управления процессами
                    +e.__content
                      p В своем стремлении улучшить пользовательский опыт мы упускаем, что представители современных социальных резервов обнародованы
                    +e.FOOTER.__footer
                      +e.SPAN.__read-more Читать далее >
            .col-auto
              +b.ARTICLE.write.h-100
                +e.A.__inner(href='')
                  +e.DIV.__img
                    +e.IMG.__img-inner(src='img/content/pic-0.jpg' alt='')
                  +e.DIV.__body
                    +e.HEADER.__header
                      +e.TIME.__datetime(datetime='ГГГГ-ММ-ДДTчч:мм:сс')
                        span 19
                        span jul
                      +e.H3.__title Прежде всего, существующая теория не оставляет шанса для укрепления моральных ценностей
                    +e.__content
                      p В целом, конечно, постоянное информационно-пропагандистское обеспечение нашей деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для экономической целесообразности принимаемых решений
                    +e.FOOTER.__footer
                      +e.SPAN.__read-more Читать далее >
            .col-auto
              +b.ARTICLE.write.h-100
                +e.A.__inner(href='')
                  +e.DIV.__img
                    +e.IMG.__img-inner(src='img/content/pic-1.jpg' alt='')
                  +e.DIV.__body
                    +e.HEADER.__header
                      +e.TIME.__datetime(datetime='ГГГГ-ММ-ДДTчч:мм:сс')
                        span 17
                        span jul
                      +e.H3.__title Таким образом, базовый вектор развития позволяет оценить значение распределения внутренних резервов и ресурсов
                    +e.__content
                      p Но акционеры крупнейших компаний являются только методом политического участия и призваны к ответу
                    +e.FOOTER.__footer
                      +e.SPAN.__read-more Читать далее >
          +e.__arrows
      .container-fluid.max-w-md.max-w-lg.text-right.mt-2
        +e.A.__link-goto(href='') В раздел Аналитики
      +b.SECTION.section-subscribe.mt-3.mt-md-4
        +e.HEADER.__header
          .container-fluid.max-w-md.max-w-lg
            +e.H2.__title Subscribe
            +e.P.__desc Подпишись на рассылку аналитики, прогнозов и новостей CRYPTO Pi
        +e.__content
          .container-fluid.max-w-md.max-w-lg
            +b.FORM.form-subscribe(action='')
              +e.__row.row
                +e.__col.col-auto
                  +b.INPUT.field.__field(type='email' placeholder=lang === 'ru' ? 'Введите свой email адрес': 'Enter your email')
                +e.__col.col-auto
                  +b.BUTTON.btn-primary.__btn(onclick='popupOpen("#popup-subscribe"); return false;')= lang === 'ru' ? 'Подписаться' : 'Subscribe'
              .d-none
                +b.popup-subscribe#popup-subscribe
                  +e.__header
                    +e.BUTTON.__btn-close(data-toggle='popup-close')
                      +icon-svg('cancel')
                    +e.__header-title Спасибо за подписку!
                  +e.__content
                    p Теперь вам будут приходить уведомления на почту
    +b.SECTION.section--risks
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3
            if lang === 'ru'
              | Риски самостоятельной торговли
            else
              | Risks of independent trade
      .container-fluid.max-w-md.max-w-lg
        .row.justify-content-center.mb-3-inv.mb-md-4-inv
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title
                  if lang === 'ru'
                    | Время
                  else
                    | Time
              +e.__content
                if lang === 'ru'
                  p.
                    Инвестор, пришедший на рынок криптовалюты из другой сферы деятельности и занятый большую часть времени на основной работе,
                    не сможет уделять торговле достаточно времени.
                else
                  p An investor who came to the market of cryptocurrency from another field of activity and who has been working most of the time on the main job will not be able to devote enough time to trade.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.2s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title= lang === 'ru' ? 'Знание трейдинга' : 'Knowledge of trading'
              +e.__content
                if lang === 'ru'
                  p.
                    Отсутствие профессиональных знаний в трейдинге приводит к непоправимым ошибкам и большим убыткам.
                else
                  p The lack of professional knowledge in trading leads to costly errors and large losses.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.wow.fadeInRight(data-wow-delay='0.4s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title= lang === 'ru' ? 'Аналитика' : 'Analytics'
              +e.__content
                if lang === 'ru'
                  p.
                    Процесс инвестирования связан с обработкой большого объема информации на разных языках.
                else
                  p The investment process involves processing a large amount of information in different languages.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.col-lg-3.wow.fadeInRight(data-wow-delay='0.6s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title= lang === 'ru' ? 'Риск менеджмент' : 'Risk management'
              +e.__content
                if lang === 'ru'
                  p.
                    Для поддержания дисциплины при реализации торговой стратегии необходим внешний контроль.
                else
                  p To maintain discipline when implementing a trading strategy, external control is necessary.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.col-lg-3.wow.fadeInRight(data-wow-delay='0.8s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title= lang === 'ru' ? 'Проработка стратегии' : 'Processing the strategy'
              +e.__content
                if lang === 'ru'
                  p.
                    Тестирование стратегий требует значительных ресурсов – от времени и специальных знаний до вычислительных мощностей.
                else
                  p Testing strategies requires considerable resources - from time and special knowledge to computing power.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.col-lg-3.wow.fadeInRight(data-wow-delay='1s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title= lang === 'ru' ? 'Технологии' : 'Technologies'
              +e.__content
                if lang === 'ru'
                  p.
                    Серьезный трейдинг предполагает наличие специализированных торговых программ и дополнительного оборудовании.
                else
                  p Serious trading involves the availability of specialized trading programs and additional equipment.
          .col-12.mb-3.col-sm-6.col-md-4.mb-md-4.col-lg-3.wow.fadeInRight(data-wow-delay='1.2s')
            +b.ARTICLE.service
              +e.HEADER.__header
                +e.H3.__title= lang === 'ru' ? 'Опыт' : 'Experience'
              +e.__content
                if lang === 'ru'
                  p.
                    Для того, чтобы знания конвертировались в опыт, должно пройти время. С первого раза всё получается далеко не у каждого.
                else
                  p Even having the necessary knowledge in the field, not everyone is lucky enough to get good results in the early stages.
      +e.FOOTER.__footer
        .container-fluid.max-w-md.max-w-lg
          .row
            .col-12.col-md-7
              if lang === 'ru'
                p.
                  Опытный трейдер, с которым у вас выстроены доверительные
                  отношения, сведет перечисленные выше риски к нулю.
              else
                p However, you will not face the above problems if trading is handled by an experienced and trustworth trader on your behalf – such as Crypto Pi.
    +b.SECTION.py-3.py-md-4
      .container-fluid.max-w-md.max-w-lg
        +b.BLOCKQUOTE.blockquote.mx-sm-3.mx-md-6.wow.lightSpeedIn
          if lang === 'ru'
            q Несмотря на высокие риски инвестиций в криптовалюту, все больше и больше людей готовы вкладывать в нее свои сбережения. Ведь по ту сторону открываются невероятные перспективы для получения больших доходов.
            cite Алексей Штерншис, <br><small>Chief Financial Officer</small>
          else
            q Despite the high risks of investment in the cryptocurrency, more and more people are ready to invest their savings in it. After all, on the other side, incredible prospects open up to generate more income.
            cite Alexey Shternshis, <br><small>CFO</small>
        .row.justify-content-center.mt-3.mt-md-4
          .col-12.col-md-6
            +b.ARTICLE.invest-go
              +e.H3.__title= lang === 'ru' ? 'Стоимость пая CRYPTO Pi Fund составляет 100 Евро.' : 'Start investing in the Crypto Pi platform by buying our token – PiCoin. The cost of PiCoin is initially 100 Euro.'
              +b.A.btn-primary(href='').__btn= lang === 'ru' ? 'Инвестировать сейчас' : 'Invest now'
              +e.__content
                if lang === 'ru'
                  p.
                    У нас нет ограничений по количеству паев – <br>
                    стать нашим клиентом может каждый!
                else
                  p We do not have restrictions on the number of tokens — everyone can become our client.
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3.color-base= lang === 'ru' ? 'Почему CRYPTO Pi Fund?' : 'Why CRYPTO Pi?'
      +b.formatted-content
        .container-fluid.max-w-md.max-w-lg
          .row.mb-3.mb-md-4.justify-content-lg-between
            .col-12.order-1.col-sm-8.order-sm-0.col-md-6.col-lg-5.wow.fadeInRight
              h3.color-primary-dark.font-weight-500.mt-0= lang === 'ru' ? 'Профессиональный подход / для нас это работа' : 'We pride ourselves on a professional approach:'
              if lang === 'ru'
                ul
                  li Большой штат сотрудников в разных часовых поясах контролирует торговый процесс 24/7.
                  li Профессиональные трейдеры с большим опытом работы на классических рынках и на рынке криптовалюты.
                  li Большой штат аналитиков и маркетологов в области технологий блокчейн.
              else
                ul
                  li A large staff in different time zones controls the trading process 24/7.
                  li Professional traders with extensive experience in the classical markets and in the cryptocurrency market.
                  li A large staff of analysts and marketers in the field of blockchain technology.
            .col-12.mb-2.d-flex.flex-column.col-sm-4.mb-sm-0.col-md-6.col-lg-5.wow.fadeInUp
              img.mx-auto(src='img/content/why-img.jpg' alt='')
          .row.mb-3.mb-md-4.justify-content-lg-between
            .col-12.order-1.col-sm-8.col-md-6.col-lg-5.wow.fadeInLeft
              if lang === 'ru'
                ul
                  li Регламентированный процесс контроля за торговыми операциями.
                  li Разработка и оперативная корректировка стратегий на основе аналитики и статистики и с помощью запатентованных программ.
                  li Огромные вычислительные мощности и постоянно обновляемые торговые программы (роботы и боты).
              else
                ul
                  li Regulated process of control over trade operations.
                  li Development and operational adjustment of strategies based on analytics and statistics and using patented programs.
                  li Huge computing power and constantly updated trading programs (robots and bots).
            .col-12.mb-2.d-flex.flex-column.col-sm-4.mb-sm-0.col-md-6.col-lg-5.wow.fadeInUp
              img.mx-auto(src='img/content/why-img-1.jpg' alt='')
          .row.justify-content-lg-between
            .col-12.order-1.col-sm-8.order-sm-0.col-md-6.col-lg-5.wow.fadeInRight
              if lang === 'ru'
                p В прошедшем году <span class="color-primary-dark">криптовалюты в целом и биткоин в частности показали себя как наиболее эффективный класс вложений</span>: за 2017 год курсы биткоина и основных криптовалют выросли более чем на 1000% и продолжают расти.
                p Наш профессиональный опыт позволяет нам говорить о том, что <span class="color-primary-dark">инвестиции в этот класс будут оставаться высокодоходными, но при условии правильной оценки ситуации на рынке</span>.
                p Что возвращает нас к необходимости экспертных знаний и исходному вопросу: Почему именно CRYPTO Pi?
              else
                p In recent years, <span class="color-primary-dark">cryptocurrencies in general and bitcoin in particular proved to be the most effective investment class</span>: in 2017, bitcoin and major cryptocurrencies grew by more than 1000% and continue to grow, albeit with more volatility in 2018.  However, the graph on Page 5 demonstrates that Crypto Pi traders achieved a return of 160% on investments in Bitcoin for the first six months of 2018, easily beating most other investments and those without the same level of experience.
                p Our professional experience allows us to say that <span class="color-primary-dark">investments in this class will remain highly profitable, but on condition of a correct assessment of the situation on the market</span>.
                p True success requires in depth knowledge and experience – for this Crypto Pi is the answer!
            .col-12.mb-2.d-flex.flex-column.col-sm-4.mb-sm-0.col-md-6.col-lg-5.wow.fadeInUp
              img.mx-auto(src='img/content/why-img-2.jpg' alt='')
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3= lang === 'ru' ? 'Более пристальный взгляд на наши преимущества:' : 'A closer look at our advantages:'
      +b.formatted-content
        .container-fluid.max-w-md.max-w-lg
          .row.mb-3.mb-md-4.justify-content-lg-between
            .col-12.order-1.col-sm-8.col-md-6.col-lg-5.wow.fadeInLeft
              if lang === 'ru'
                ul
                  li Мы уделяем много внимания информационной и аналитической поддержке наших клиентов. На молодом быстрорастущем криптовалютном рынке невозможно двигаться в правильном направлении без глубоко понимания происходящего. <span class="color-primary-dark">Клиенты получают максимально полную и разностороннюю информацию о текущей ситуации в мире «крипты»</span> и меньше страдают от «информационного шума», накрывшего в последние годы этот перспективный рынок.
                  li Мы находимся в юрисдикциях, <span class="color-primary-dark">максимально благоприятствующих инвесторам и гарантирующих им полную конфиденциальность и защиту</span> со стороны правового поля.
                  li Мы обеспечиваем <span class="color-primary-dark">прозрачность публичной отчетности и отсутствие проблем</span> со стороны регулирующих органов.
              else
                ul
                  li We pay a lot of attention to information and analytical support for our clients. It is impossible to move in the right direction without a deep understanding of what is happening in such a young and fast-growing market as a cryptocurrencies. <span class="color-primary-dark">Customers receive the fullest and most comprehensive information about the current situation in the world of "crypto’s"</span> and suffer less from the "information noise" that is so characteristic in recent years of this promising market.
                  li We invest a lot in <span class="color-primary-dark">service and active customer support</span>. Each client has a personal manager, which can be contacted at any time of the day and receive detailed advice on the situation in the market and the current state of the portfolio.
                  li We are in jurisdictions that <span class="color-primary-dark">favor investors and guarantee them complete confidentiality</span>.
            .col-12.mb-2.d-flex.flex-column.col-sm-4.mb-sm-0.col-md-6.col-lg-5.wow.fadeInUp
              img.mx-auto(src='img/content/why-img-3.jpg' alt='')
          .row.justify-content-lg-between
            .col-12.order-1.col-sm-8.order-sm-0.col-md-6.col-lg-5.wow.fadeInRight
              if lang === 'ru'
                ul
                  li Мы много вкладываем в сервис и активную клиентскую поддержку. <span class="color-primary-dark">К каждому клиенту прикреплен персональный менеджер</span>, с которым можно связаться в любое время суток и получить подробную консультацию по ситуации на рынке и по текущему состоянию портфеля.
              else
                ul
                  li We ensure the transparency of public reporting and the absence of problems on the part of regulators.
            .col-12.mb-2.d-flex.flex-column.col-sm-4.mb-sm-0.col-md-6.col-lg-5.wow.fadeInUp
              img.mx-auto(src='img/content/why-img-4.jpg' alt='')
    +b.SECTION.section--advantages
      .container-fluid.max-w-md.max-w-lg
        .row.mb-3-inv.mb-md-4-inv.justify-content-lg-between.wow.slideInLeft
          .col-12.mb-3.col-md-6.mb-md-4.col-lg-5
            +b.ARTICLE.content-write
              +e.HEADER.__header
                +e.H3.__title Mining
                +icon-svg('mining').__icon
              +e.__content.formatted-content
                if lang === 'ru'
                  p Наши майнинговые центры, расположенные в зонах с самым высоким уровнем энергоэффективности по всему миру, оснащены новейшим эффективным оборудованием.
                  p Благодаря этому мы снижаем затраты на предоставление услуг майнинга и имеем значительные преимущества перед конкурентами.
                  p.color-primary-dark У нас – лучший из возможных сервисов по лучшей цене.
                else
                  p Our mining centers are located in the areas with the highest level of energy efficiency around the world, as well as equipped with the latest and most efficient equipment.
                  p Due to this, we reduce the cost of providing services and have significant advantages over competitors.
                  p.color-primary-dark We provide the best possible service at the best possible price.
          .col-12.mb-3.col-md-6.mb-md-4.col-lg-5
            +b.ARTICLE.content-write
              +e.HEADER.__header
                +e.H3.__title ICO & ICO fund
                +icon-svg('ico').__icon
              +e.__content.formatted-content
                if lang === 'ru'
                  p.color-primary-dark Мы разрабатываем новые виды криптовалюты не только с профессиональными ICO командами, но и с физическими лицами.
                  p Признание криптовалюты правительствами многих стран подталкивает организации и учреждения к созданию собственных ее видов – как для упрощенного проведения платежей, так и с инвестиционными целями. Но достичь этих целей можно только при профессиональном подходе и соответствующих технологиях. «Крипто Пи» помогает воплощать задуманное.
                else
                  p.color-primary-dark We develop new types of cryptocurrency not only with professional ICO teams, but also with individuals.
                  p Recognition of the cryptocurrency by the governments of many countries pushes organizations and institutions to create their own tokens or coins - both for simplified payments and for investment purposes. But these goals can be achieved only  with a professional approach and appropriate technologies. Crypto Pi helps to embody what was conceived.
    +b.SECTION.section
      .container-fluid.max-w-md.max-w-lg
        .row.mb-3-inv.mb-md-4-inv.justify-content-lg-between.wow.slideInRight
          .col-12.mb-3.col-md-6.mb-md-4.col-lg-5
            +b.ARTICLE.content-write
              +e.HEADER.__header
                +e.H3.__title Sales & legal framework
                +icon-svg('sales').__icon
              +e.__content.formatted-content
                if lang === 'ru'
                  p Профессиональным трейдерам и уже действующим ICO <span class="color-primary-dark">мы предлагаем для реализации их проектов собственные лицензионные решения, такие как суб-фонд или листинг</span> в нашей торгово-платежной системе.
                  p Наши лицензированные европейские сервисы помогают справиться с такими трудо- и ресурсоемкими проблемами, как прием средств от третьих лиц, прием «фиатных» средств и их дальнейшая конвертация в цифровые валюты, крипто-процессинг, разработка и ведение бэк-офиса и разработка правовой документации.
                  p И все это с круглосуточной технической поддержкой.
                else
                  p For professional traders already operating ICOs <span class="color-primary-dark">we offer our own licensing solutions for realization of their projects, such as a sub-fund or listing</span> in our trading-payment system.
                  p Our licensed European services help to cope with such labour-consuming and resource-intensive problems such as: receiving funds from third parties; accepting "fiat" funds and their further conversion into digital currencies; crypto-processing; development and maintenance of back-office, and; development of legal documentation.
                  p And all this with 24-hour technical support.
          .col-12.mb-3.col-md-6.mb-md-4.col-lg-5
            +b.ARTICLE.content-write
              +e.HEADER.__header
                +e.H3.__title Consulting
                +icon-svg('consulting').__icon
              +e.__content.formatted-content
                if lang === 'ru'
                  p <span class="color-primary-dark">Мы оказываем полный спектр консультационных услуг по всем перечисленным выше вопросам</span>, а также по любым другим, связанным с крипто-трейдингом – этой коммерцией будущего.
                  p Расскажите нам о своих требованиях и желаемых результатах, и мы предоставим вам несколько вариантов стратегий, направленных на решение ваших задач.
                else
                  p <span class="color-primary-dark">We provide a full range of advisory services on all matters listed above</span>, as well as any other issue related to crypto-trading – the future of commerce.
                  p Tell us about your requirements and the desired results, and we will give you several options for strategies to solve your problems.
    +b.SECTION.section--bonus
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title= lang === 'ru' ? 'Exclusive bonus' : 'Additional benefits'
          +e.P.__desc!= lang === 'ru' ? 'Для деловых людей, не склонных к высоким рискам, у нас существует <span class="color-primary">специальная стратегия, направленная на извлечение стабильно растущих высоких доходов</span> в долгосрочной перспективе.' : 'For business people who wish to mitigate their risks further, we have a <span class="color-primary">special strategy that nevertheless is aimed at producing a high income that demonstrates high growth</span> in the long term.'
      .container-fluid.max-w-md.max-w-lg
        .row.mb-2-inv.mx-0.px-md-2
          .col-12.mb-2.col-md-7
            +b.FIGURE.bonus-write.wow.slideInRight
              +icon-svg('bonus').__icon
              +e.FIGCAPTION.__content
                if lang === 'ru'
                  p В основу фонда заложены классические правовые принципы, как при организации классического лицензируемого фонда.
                else
                  p The Fund is based on classical legal principles, as in the organization of a classic licensed Fund.
          .col-12.mb-2.col-md-7.ml-md-auto
            +b.FIGURE.bonus-write--revert.wow.slideInLeft
              +icon-svg('bonus-1').__icon
              +e.FIGCAPTION.__content
                if lang === 'ru'
                  p КриптоФонд CryptoPi совместно с европейским банком-партнером предлагает своим клиентам сервис покупки токенов фонда с дебетовых карт с последующим обратным выкупом этих токенов Фондом с оплатой на любой банковский, электронный, или криптовалютный счет, принадлежащий клиенту.
                else
                  p CryptoPi together with a European partner bank offers its customers the service of purchasing the tokens from debit cards with the subsequent repurchase of these tokens with payment to any bank, electronic, or cryptocurrency account owned by the client.
          .col-12.mb-2.col-md-7
            +b.FIGURE.bonus-write.wow.slideInRight
              +icon-svg('bonus-2').__icon
              +e.FIGCAPTION.__content
                if lang === 'ru'
                  p Собственный stablecoin – в основе которого лежит пай CapitalPi Fund. А состав CapitalPi Fund – это низковолатильные американские бонды!
                else
                  p We can also work with the client to produce their own StableCoin, which is based on a share in the underlying Capital Pi Fund.  The structure of the Capital Pi Fund is a low risk, alternative investment fund that is designed to protect capital but provide higher than average returns.
          .col-12.mb-2.col-md-7.ml-md-auto
            +b.FIGURE.bonus-write--revert.wow.slideInLeft
              +icon-svg('bonus-3').__icon
              +e.FIGCAPTION.__content
                if lang === 'ru'
                  p Для удобства клиентов и партнеров специалисты Crypto Pi предусмотрели функциональный личный кабинет, одним из преимуществ которого является возможность ежедневно следить за динамикой стоимости купленных токенов.
                else
                  p For the convenience of customers and partners, Crypto Pi specialists have provided a functional personal account, one of the advantages of which is the ability to monitor the dynamics of the purchased tokens cost on a daily basis.
      .container-fluid.max-w-md.max-w-lg.mt-3.mt-md-4
        +b.user-log-in--thin
          +e.__row.row.m-1-inv.justify-content-center
            .col-auto.mw-100.p-1
              +b.A.btn-primary.__btn(href='')= lang === 'ru' ? 'Регистрация' : 'Sign Up'
            .col-auto.mw-100.p-1
              +b.A.btn-secondary.__btn(href='')= lang === 'ru' ? 'Авторизация' : 'Sign In'
          +e.__content
            if lang === 'ru'
              p.
                У вас уже есть аккаунт? Зарегистрируйтесь или авторизуйтесь
                в личном кабинете сегодня!
            else
              p Do you already have an account? Register or log in to your account today!
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3.color-base= lang === 'ru' ? 'Партнеры' : 'Partners'
      .container.mb-3.mb-md-4
        .row.justify-content-center.mb-2-inv
          .col-12.mb-2.col-sm-6.col-md-4.wow.zoomInDown
            +b.FIGURE.partner.h-100
              +e.__img
                +e.IMG.__img-inner(src='img/content/capital-pi.png' alt='')
              +e.FIGCAPTION.__body
                +e.__content
                  if lang === 'ru'
                    p.
                      Альтернативный инвестиционный фонд, основанный в Амстердаме, Нидерландах.
                      Инвестиционная деятельность Фонда предназначена для клиентов и партнеров с высоким уровнем собственного капитала, которые ищут фонд, целью которого является не только защита инвестиционного капитала, но и генерация дохода выше среднего.
                  else
                    p.
                      Alternative investment Fund, based in Amsterdam, the Netherlands.
                      The investment activity of the Fund is intended for clients and partners with a high level of equity, who are looking for a Fund which purpose is not only to protect investment capital, but also to generate income above average.
          .col-12.mb-2.col-sm-6.col-md-4.wow.zoomInDown
            +b.FIGURE.partner.h-100
              +e.__img
                +e.IMG.__img-inner(src='img/content/ex-pi.png' alt='')
              +e.FIGCAPTION.__body
                +e.__content
                  if lang === 'ru'
                    p.
                      EX Pi - Exchange Pi service, лицензированный международный сервис по обмену виртуальной валюты на другие валюты. Обмен осуществляется с использованием собственного программного комплекса, построенного на основе классических банковских технологий.
                  else
                    p Our own cryptocurrency trading platform, Ex Pi is a licensed international service for the exchange of virtual and other currencies. Exchange is carried out using our own software complex, built on the basis of classical banking technologies.
          .col-12.mb-2.col-sm-6.col-md-4.wow.zoomInDown
            +b.FIGURE.partner.h-100
              +e.__img
                +e.IMG.__img-inner(src='img/content/rich-gate.png' alt='')
              +e.FIGCAPTION.__body
                +e.__content
                  if lang === 'ru'
                    p.
                      Компания поставляет оборудование для майнинга и предоставляет услуги по поиску самых выгодных мест в Европе по стоимости аренды помещения и электроснабжения для установки майнингового оборудования. Компания устанавливает и настраивает майнинговое оборудование, а также готовит все необходимые документы для запуска майнинга в Европе.
                  else
                    p The company supplies equipment for mining and provides the most favorable conditions in Europe for the cost of renting premises and electricity for mining equipment installation. The company installs and sets up mining equipment, and prepares all the necessary documents for the launch of mining in Europe.
      .container.wow.fadeInUp
        .row.justify-content-center
          .col-12.mt-0.mb-0.mx-2-inv.col-sm-6.col-md-4
            +b.FIGURE.partner-source
              +e.A.__img(href='')
                +e.IMG.__img-inner(src='img/content/capital-pi-preview.jpg' alt='')
              +e.FIGCAPTION.__content
                a(href='//www.capitalpi.fund' target='_blank') www.capitalpi.fund
          .col-12.mt-2.mb-2-inv.mx-2-inv.col-sm-6.col-md-4
            +b.FIGURE.partner-source
              +e.A.__img(href='')
                +e.IMG.__img-inner(src='img/content/ex-pi-preview.jpg' alt='')
              +e.FIGCAPTION.__content
                a(href='//www.expi.trade' target='_blank') www.expi.trade
          .col-12.mt-4.mb-0.mx-2-inv.col-sm-6.col-md-4
            +b.FIGURE.partner-source
              +e.A.__img(href='')
                +e.IMG.__img-inner(src='img/content/capital-pi-preview.jpg' alt='')
              +e.FIGCAPTION.__content
                a(href='//www.rich-gate.com' target='_blank') www.rich-gate.com
    +b.SECTION.section--contacts
      +e.HEADER.__header
        .container-fluid.max-w-md.max-w-lg
          +e.H2.__title.px-md-3= lang === 'ru' ? 'Контакты' : 'Contacts'
      .container-fluid.max-w-md.max-w-lg
        +b.grid-contacts
          +e.__row
            +e.__col--0
              +b.contacts
                +e.H3.__title= lang === 'ru' ? 'Наши офисы:' : 'Our offices:'
                +e.__content
                  ul.text-uppercase
                    if lang === 'ru'
                      li Москва, Пресненская набережная, 10 блок С
                    li 92 Waterloo Street #05-01, Sky Line Building, Singapore (187966)
                    li Koninginnegracht 10, Den Haag, 2514BC, Netherlands
                +e.FOOTER.__footer
                  address
                    dl
                      dt Email:
                      dd
                        a(href='mailto:info@cryptopi.fund') info@cryptopi.fund
                        br
                      //
                        dt Phone:
                          dd
                            a(href='tel:+79295773655') +7 (929) 577-36-55
            +e.__col--1.position-relative.z-index-1.mb-md-10-inv
              +b.FORM.form-feedback(action='')
                +e.HEADER.__header
                  +e.H3.__title= lang === 'ru' ? 'Обратная связь' : 'Feedback'
                  +e.P.__desc= lang === 'ru' ? 'Задайте интересующий Вас вопрос' : 'Ask the question interesting you'
                +e.__content
                  +e.__row
                    +b.INPUT.field-btb.__field(type='text' placeholder=lang === 'ru' ? 'Ваше имя': 'Your name')
                  +e.__row
                    +b.INPUT.field-btb--next.__field(type='email' placeholder='Email')
                  +e.__row
                    +b.INPUT.field-btb--next.__field(type='tel' placeholder=lang === 'ru' ? 'Телефон': 'Phone')
                  +e.__row
                    +b.SELECT.field-btb--next.--select.__field
                      option(selected='')= lang === 'ru' ? 'Тема обращения' : 'Subject'
                      option Subject 1
                      option Subject 2
                      option Subject 3
                  +e.__row
                    +b.TEXTAREA.field-btb--next.--textarea.__field(rows='5' placeholder=lang === 'ru' ? 'Ваше сообщение': 'Your message')
                  +e.__row--actions
                    +b.BUTTON.btn-secondary.__btn= lang === 'ru' ? 'Отправить' : 'Submit'
    +map
  +footer.__footer