include lib/variables
include lib/mixins
include blocks/page

+page(pagesList.uiKit.title)
  +b.MAIN
    .container
      +b.wysiwyg
        h1 #{pagesList.uiKit.title} - #{pkg.description}
        h2 Pages list
        ol
          each page in pagesList
            li(style="margin-bottom: 5px;"): a(href=page.url) #{page.title} #[small (#{page.url})]
        h2 Colors
        table.w-100
          each color, i in ['#4f4f4d', '#d28600', '#ffffff', '#757575', '#f5f6f6', '#d08f2c', '#fb953b', '#f59a00', '#f19800', '#f8f9fa', '#000000', '#444242', '#4b4b4b', '#d9dbda', '#286d44', '#535454', '#3faf6c', '#985a1a', '#cf8f2c', '#c9c9c9', '#3e3e3e', '#464645', '#fefefe', '#353534', '#f7943d', '#e9e9ea']
            tr
              td: span.d-inline-block.align-middle(style=`width: 20px; height: 20px; border-radius: 4px; border: 1px solid #ccc; background: ${color};`)
              td: code.align-middle= color
        h2 Fonts
        table.w-100
          each font, i in ['Roboto:400:normal', 'Roboto:400:italic', 'Roboto:700:normal', 'Roboto:700:italic', 'Roboto:500:normal', 'Roboto:900:normal', 'DIN Pro:400:normal', 'DIN Pro:300:normal', 'DIN Pro:500:normal', 'DIN Pro:700:normal']
            - font = font.split(':');
            tr
              td: div(style=`font-family: ${font[0]}; font-weight: ${font[1]}; font-style: ${font[2]};`)= font[0]
              td: code= font[1]
              td: code= font[2]
        h2 Content
        h1 Heading H1
        h2 Heading H2
        h3 Heading H3
        h4 Heading H4
        h5 Heading H5
        h6 Heading H6
        h2 Таким образом, граница обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании первоочередных требований!
        p Мы <strong>вынуждены</strong> <em>отталкиваться</em> от того, что повышение уровня <a href=''>гражданского сознания</a> создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса анализа существующих паттернов поведения.
        p Для современного мира высокотехнологичная концепция общественного уклада не оставляет шанса для существующих финансовых и административных условий.
        ol
          li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
          li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
          li Также как сложившаяся структура организации представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений.
        ul
          li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
          li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
          li Также как сложившаяся структура организации представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений.
        h2 Form elements