include lib/variables
include lib/mixins
include blocks/page

+page('UI-kit')
  +b.MAIN
    +b.container-fluid.max-w-md.max-w-lg
      +b.formatted-content
        h1 #{pkg.description}
        h2 Pages list
        ol
          if pkg.repository
            li
              a(href=pkg.repository target='_blank') Repository #[small (#{pkg.repository})]
          li
            a(href='ui-kit.html') UI-kit #[small (ui-kit.html)]
            ol
              li
                a(href='svg-symbols-demo-page.html') SVG-symbols #[small (svg-symbols-demo-page.html)]
          each page in pagesList
            li
              a(href=page.url) #{page.title} #[small (#{page.url})]
        h2 Fonts
        table.w-100
          thead
            tr
              th Family
              th Weigth
              th Style
              th Example
          tbody
            each value in ['Roboto:400:normal', 'Roboto:400:italic', 'Roboto:700:normal', 'Roboto:700:italic', 'Roboto:500:normal', 'Roboto:900:normal', 'DIN Pro:400:normal', 'DIN Pro:300:normal', 'DIN Pro:500:normal', 'DIN Pro:700:normal']
              - value = value.split(':');
              tr
                td
                  code= value[0]
                td
                  code= value[1]
                td
                  code= value[2]
                td
                  no-typography(style=`font-family: ${value[0]}; font-weight: ${value[1]}; font-style: ${value[2]};`).
                    абвгдеёжзийклмнопрстуфхцчшщъыьэюя АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ
                    <br>abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    <br>0123456789#{'.:,;()*!?\\\'@#<>$%&^+-=~'}
                  // .:,;()*!?\'@#<>$%&^+-=~
        h2 Content
        h1 Heading h1
        p Text...
        h2 Heading h2
        p Text...
        h3 Heading h3
        p Text...
        h4 Heading h4
        p Text...
        h5 Heading h5
        p Text...
        h6 Heading h6
        p Text...
        h2 Таким образом, граница обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании первоочередных требований!
        p Мы <strong>вынуждены отталкиваться</strong> от того, <br>что <em>повышение уровня</em> <a href=''>гражданского сознания</a> создает <strong><em>необходимость включения</em></strong> в производственный план <small><a href=''>целого ряда</a></small> внеочередных мероприятий с учетом комплекса <a href=''><span>анализа</span></a> существующих паттернов поведения.
        p Для современного мира высокотехнологичная концепция общественного уклада не оставляет шанса для существующих финансовых и административных условий.
        ol
          li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
          li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
            ul
              li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
              li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
          li Также как сложившаяся структура организации представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений.
        p Не следует, однако, забывать, что высокое качество позиционных исследований требует анализа системы обучения кадров, соответствующей насущным потребностям.
        p А еще сторонники тоталитаризма в науке неоднозначны и будут смешаны с неуникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
        ul
          li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
          li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
          li Также как сложившаяся структура организации представляет собой интересный эксперимент проверки как самодостаточных, так и внешне зависимых концептуальных решений.
            ol
              li В целом, конечно, разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества своевременного выполнения сверхзадачи.
              li Банальные, но неопровержимые выводы, а также интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений.
        p Как уже неоднократно упомянуто, непосредственные участники технического прогресса формируют глобальную экономическую сеть и при этом - призваны к ответу.
        blockquote
          p С другой стороны, реализация намеченных плановых заданий , в своем классическом представлении, допускает внедрение позиций, занимаемых участниками в отношении поставленных задач.
          p Как уже неоднократно упомянуто, предприниматели в сети интернет объявлены нарушающими общечеловеческие нормы этики и морали.
        h2 Form elements
      .mb-2
        +b.INPUT.field-btb(type='text' placeholder='Ваше имя')
      .mb-2
        +b.SELECT.field-btb--select
          option(selected='') No selected
          option Option 1
          option Option 2
          option Option 3
      .mb-2
        +b.TEXTAREA.field-btb--textarea(rows='5' placeholder='Ваше сообщение')
      .mb-2
        .row
          .col-auto.mw-100
            +b.BUTTON.btn-primary Button
          .col-auto.mw-100
            +b.A.btn-primary(href='') Link
          .col-auto.mw-100
            +b.BUTTON.btn-primary(disabled='') Button Disabled
      .mb-2
        .row
          .col-auto.mw-100
            +b.BUTTON.btn-secondary Button
          .col-auto.mw-100
            +b.A.btn-secondary(href='') Link
          .col-auto.mw-100
            +b.BUTTON.btn-secondary(disabled='') Button Disabled